# Base environment
jupytext
jupyter-server-proxy
nbzip

# Notebook extensions
jupyter_contrib_nbextensions
jupyter-wysiwyg

#Supported learning
nbtutor
RISE
nb-extension-tagstyler
nb-extension-empinken


# Updates
ipywidgets>=7.5.0
nbconvert>=5.5.0
#jupyter-archive
nbresuse
#git+https://github.com/NII-cloud-operation/Jupyter-multi_outputs
nbgitpuller
tqdm

# Drawing
drawSvg



#### Python Specific

# Python linting
#Linting
flake8
pycodestyle
pycodestyle_magic

## Autorepair
autopep8

## Install additional style convention rules
pep8-naming
flake8-bugbear
flake8-docstrings
flake8-builtins



#### MODULE SPECIFIC

# Generic
numpy
pandas
matplotlib
plotly
seaborn
cufflinks #plotly support for pandas dataframes

# Rule based systems
durable_rules
#git+https://github.com/innovationOUtside/durable_rules_magic.git
#chatterbot==1.0.4
noisify

#Simulator
#git+https://github.com/innovationOUtside/nbev3devsim.git

# NN
sklearn

## Provide additional linting conventions for pandas code
pandas-vet
